<div class="card m-1">
    <div class="card-body">
        <h5 class="card-title">data.hostname Version: data.version</h5>
        <h6 class="card-subtitle mb-2 text-muted">data.numplayers/data.maxplayers</h6>
        <h6 class="card-subtitle mb-2 text-muted" onclick="joinServer('data.hostname','data.addr')">data.addr</h6>
        <p class="card-text">Players: data.players</p>
    </div>
    <div class="card-footer text-muted">
        <p class="card-subtitle">Powered By: data.server_engine
            <button class="btn-info btn btn-sm">INFO</button>
        </p>
    </div>
</div>